<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    {% load static %}
        
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/icone">
    <link rel="stylesheet" type="text/css" href="{% static 'gerador.css' %}">
      
    <title>FG - Gerador de times</title>


  </head>

  <body style="background-image: url('{% static 'img/banner.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">  
    <div class="container">
        <div class="gerador">
            <div class="gerador-titulo">
                <img src="{% static 'img/newlogoFG.png' %}" alt="FIFA Gen Logo">
                <h3>Gerador de times</h3>
            </div>

            <div class="busca">
                <input class="busca-txt" type="text" id="search-input" required>
                <a class="busca-btn" href="#">
                    <img src="{% static 'img/loupe.png' %}" alt="Search">
                </a>
            </div>                
            <div class="gerador-campo" style="background-image: url('{% static 'img/campo.png' %}');">
                <div class="gerador-formacao">
                    <div class="ataque">
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meio">
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="zagueiro">
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="goleiro">
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gerador-jogadores">
                <ul class="lista-jogadores">
                    <li class="lista-jogador">
                        <div class="jogador" style="background-image: url('{% static 'img/moldura.png' %}');">
                            <div class="overall">
                                <p>99</p>
                            </div>
                            <div class="posicao">
                                <p>CT</p>
                            </div>
                            <div class="nome">
                                <p>Messi</p>
                            </div>
                            <ul>
                                <li class="ritmo">
                                    <p>98</p>
                                </li>
                                <li class="drible">
                                    <p>97</p>
                                </li>
                                <li class="chute">
                                    <p>99</p>
                                </li>
                                <li class="defesa">
                                    <p>90</p>
                                </li>
                                <li class="passe">
                                    <p>95</p>
                                </li>
                                <li class="fisico">
                                    <p>94</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
      <p>&copy; 2021 Team Building Assistance. All rights reserved.</p>
    </footer>
  </body>
</html>


