<!DOCTYPE html>
<html lang="pt-br">
  <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="icon" href="/icon/favicon.ico" type="image/icone">
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

      <title>FIFA Gen</title>

  </head>

  <body>
    <header style="background-image: url('./images/banner.jpg');">
      <div class="container">
        <nav>
          <div class="logo">
            <a href="#"><img src="./images/newlogoFG.png" alt="Logo"></a>
          </div><!--logo-->
          <ul>
            <a href="#">Home</a>
            <a href="sobre">Sobre</a>
            <a href="#">Serviços</a>
            <a href="planos">Planos</a>
            <a href="registro">Registre-se</a>
          </ul>
        </nav><!--top bar-->
        <section class="banner">
          <div class="banner-text">
            <h1>#1 Gerador de Times</h1>
            <p>Crie o time dos seus sonhos e conquiste a vitória como um verdadeiro campeão!</p>
            <a href="registro" class="btn">Registre-se</a>
          </div><!--center-->
        </section><!--banner-->
      </div><!--container--> 
    </header>

    <!-- Intro -->
    <section class="bem-vindo">
      <div class="container">
        <div class="bem-vindo-text">
          <h2>Bem-vindo ao FIFA Gen</h2>
          <h3>O seu destino para criar o time perfeito</h3>
          <p>Bem-vindo ao nosso inovador gerador de times para FIFA! Seja você um estrategista em busca da combinação perfeita de jogadores para conquistar a vitória ou um entusiasta que simplesmente adora experimentar diferentes formações, você está no lugar certo. Nosso site foi criado para proporcionar uma experiência única na geração de times, oferecendo os recursos necessários para aprimorar sua partida de futebol.</p>
        </div>
        <div class="bem-vindo-img">
          <img src="./images/logoFG.png" alt="Bem-vindo">
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- end intro -->
    <!-- ferramenta -->
    <section class="ferramenta">
      <div class="container">
        <div class="ferramenta-img">
          <img src="./images/ferramenta.png" alt="Ferramenta">
        </div>
        <div class="ferramenta-text">
          <h2>Ferramentas FIFA Gen</h2>
          <h3>Squad Builder</h3>
          <p>Nossa ferramenta de montagem de times permite que você crie equipes personalizadas, escolhendo jogadores, formações e táticas para o sucesso no FIFA.</p>
        </div>
        
      </div>
      <!-- end container -->
    </section>
    <!-- end ferramenta -->

    <!-- Qualidade/Comunidade -->
    <section class="content">
      <div class="container">
        <div class="content-text">
          <h2>Qualidade Superior</h2>
          <p>Nossa interface intuitiva torna a montagem de times uma experiência inovadora. Comece a criar seu time hoje mesmo!</p>
        </div>
        <div class="content-text">
          <h2>Comunidade FIFA Gen</h2>
          <p>Junte-se à nossa comunidade de entusiastas do FIFA. Compartilhe seus times, obtenha feedback e participe de competições."</p> 
        </div>
      </div>
    </section>  
    <!-- end Qualidade/Comunidade -->
    <!-- contato -->
    <footer class="footer">
      <div class="container">
        <div class="footer-text">
          <h2>Entre em contato</h2>
          <p>+1(21) 000 0001</p>
          <p>info@fifagen.com</p>
        </div>
        <div class="copyright">
          <p>Copyright &copy; Todos direitos reservados</p>
        </div>
      </div>
    </footer>

      <script src="js/jquery-1.11.3.min.js"></script>

      <script src="js/bootstrap.min.js"></script>

      <script src="js/jquery.easing.min.js"></script>

      <script src="js/custom.js"></script>

  </body>
</html>
