<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FIFA Gen</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- FOntes -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navegação -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo  -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <span class="glyphicon glyphicon-fire"></span> 
                  FIFA GEN
                </a>
            </div>
            <!-- Navegation bar -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="sobre">Sobre</a>
                    </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serviços <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="about-us">
              <li><a href="#">Squad Builder</a></li>
              <li><a href="barrapesquisa">Custom Squad Builder</a></li>
              <li><a href="#">Draft Simulator</a></li>
            </ul>
          </li>
                  <li>
                         <a href="planos">Planos</a>
                    </li>
  
                
                    <li>
                        <a href="registro">Registre-se</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

  <!-- Cabeçalho -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h2>#1 Gerador de Times</h2>
                <p> Crie o time dos seus sonhos e conquiste a vitória como um verdadeiro campeão!</p>
                <a href="#" class="btn btn-primary btn-lg">Registre-se</a>
            </div>
        </div>
    </header>

  <!-- Intro -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <span class="glyphicon glyphicon-fire" style="font-size: 60px"></span>
                    <h2 class="section-heading">Bem-vindo ao FIFA Gen, o seu destino para criar o time perfeito. Construa o esquadrão dos seus sonhos e conquiste a vitória no FIFA</h2>
                </div>
            </div>
        </div>
    </section>

  <!-- Conteúdo Squad Builder -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
                </div>
                <div class="col-sm-6">
                  <h2 class="section-header">Squad Builder</h2>
                  <p class="lead text-muted">Nossa ferramenta de montagem de times permite que você crie equipes personalizadas, escolhendo jogadores, formações e táticas para o sucesso no FIFA.</p>
                </div>                

            </div>
        </div>
    </section>

  <!-- Conteúdo Qualidade -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                  <h2 class="section-header">Qualidade Superior</h2>
                  <p class="lead text-light">Nossa interface intuitiva torna a montagem de times uma experiência inovadora. Comece a criar seu time hoje mesmo!</p>
                </div>    
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/iphone.jpg" alt="">
                </div>            

            </div>
        </div>
    </section>    

    <!-- Outros -->
  <div class="container-fluid">
        <div class="row promo">
          <a href="#">
        <div class="col-md-4 promo-item item-1">
          <h3>
            Squad Builder
          </h3>
        </div>
            </a>
            <a href="#">
        <div class="col-md-4 promo-item item-2">
          <h3>
            Custom Squad Builder
          </h3>
        </div>
            </a>

      <a href="#">
        <div class="col-md-4 promo-item item-3">
          <h3>
            Draft Simulator
          </h3>
        </div>
            </a>
        </div>
    </div>

  <!-- Conteúdo Comunidade -->
     <section class="content content-3">
        <div class="container">
      <h2 class="section-header"><span class="glyphicon glyphicon-globe"></span><br> Comunidade FIFA Gen</h2>
      <p class="lead text-muted">Junte-se à nossa comunidade de entusiastas do FIFA. Compartilhe seus times, obtenha feedback e participe de competições."</p> 

            </div>
        </div>
    </section>

  <!-- Rodapé -->
    <footer class="page-footer">

      <!-- Contato -->
        <div class="contact">
          <div class="container">
        <h2 class="section-heading">Entre em contato</h2>
        <p><span class="glyphicon glyphicon-earphone"></span><br> +1(21) 000 0001</p>
        <p><span class="glyphicon glyphicon-envelope"></span><br> info@fifagen.com</p>
          </div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
          <div class="container">
            <p>Copyright &copy; Todos direitos reservados</p>
          </div>
        </div>

    </footer>

    <script src="js/jquery-1.11.3.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.easing.min.js"></script>

    <script src="js/custom.js"></script>

</body>

</html>
