<!-- Aba Planos de Assinatura -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">Planos de Assinatura</h2>
                <p class="lead text-muted">Escolha o plano que melhor se adapta às suas necessidades e aproveite ao máximo o FIFA Gen.</p>
            </div>
        </div>

        <!-- Informações do Plano Bronze -->
        <div class="row">
            <div class="col-sm-4">
                <h3>FIFAGEN Bronze</h3>
                <p>Custo Mensal: R$ 9,99</p>
                <ul>
                    <li>Acesso à ferramenta de montagem de time.</li>
                    <li>Sugestões de entrosamento básicas.</li>
                    <li>Limitação no número de jogadores favoritos.</li>
                </ul>
            </div>

            <!-- Informações do Plano Silver -->
            <div class="col-sm-4">
                <h3>FIFAGEN Silver</h3>
                <p>Custo Mensal: R$ 19,99</p>
                <ul>
                    <li>Todas as características do plano Bronze.</li>
                    <li>Sugestões de entrosamento avançadas.</li>
                    <li>Estatísticas detalhadas dos jogadores.</li>
                    <li>Lista de transferências personalizada.</li>
                </ul>
            </div>

            <!-- Informações do Plano Gold -->
            <div class="col-sm-4">
                <h3>FIFAGEN Gold</h3>
                <p>Custo Mensal: R$ 29,99</p>
                <ul>
                    <li>Todas as características do plano Silver.</li>
                    <li>Prioridade no acesso a atualizações e novos recursos.</li>
                    <li>Equipe de suporte dedicada.</li>
                    <li>Acesso exclusivo a eventos e promoções.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
